$primary-color: #00fc69;
$primary-transparent-color: #00fc6967;
$secondary-color: #0c0c0c;
$secondary-transaparent-color: rgba(12, 12, 12, 0.329);
$accent-color: #ecfff5;
$white-color: #fff;
$white-transparent-color: rgba(255, 255, 255, 0.267);
$delete-color: #ee0101;
$white-low: rgba(255, 255, 255, 0.0926);
